/* font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
 */


body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

/* Button */
.btn {
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Hammersmith One', sans-serif;
    color: #00e0d0;
    border: 2px solid #00e0d0;
    background: none;
    font-weight: 400;
    width: 120px;
    height: 40px;
    padding: 0;
    text-align: center;
    
    cursor: pointer;
    border-radius: 4px;
    
}


.btn:hover {
    
    background: rgba(49, 3, 109, 0.85);

}

/* Wrapper */

.wrapper {
    
    max-width: 890px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: auto;
    
    
}

/* header */

.header {
    
    width: 100%;
    z-index: 1000;
    position: absolute;
   
    top: 0;
    left: 0;
    
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}




/* Navigation */
.nav {
    display: flex;
    text-transform: uppercase;  
}

.nav__link {
    margin-left: 25px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    
    
    
}

.nav__link:hover {
    color: #00e0d0;
}

.nav__link:first-child {
    margin-left: 0;
}

/* Intro */


.intro {
    padding-top: 80px;
    background:  url("img/bg-forest.jpg") #000000 center no-repeat;
    background-size: cover;
    height: 670px;
    
    
}

.intro2 {
    padding-top: 80px;
    background:  rgba(66, 50, 107, 0.85);
    background-size: cover;
    height: 670px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    
    
}

.intro__title {
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #ffffff;
}

.intro__title:after {
    content: "";
    color: #00e0d0;
    width: 50px;
    border-bottom: 2px solid #00e0d0;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    margin-bottom: 20px;
}

.intro__text {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding: 0 120px;
    margin-bottom: 50px;
    text-align: left;
}

/* story */

.story__inner {
    display: flex;
    padding: 70px 0;
    padding-left: 40px;
}

.story_logo{
    width: 50%;
}
.story__item {
    margin-left: 100px;
    width: 50%;
}

.story__title {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    
}
.story__text {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #959399;
    font-weight: 300;
    margin-bottom: 30px;
}